

@media (max-width: 700px) {
    .section-wrapper{
        @apply justify-center items-center flex flex-col h-screen w-full;
        height: 95vh;
    }
    
    .headline{
        font-size: 1.5vh;
        margin-top: -0.5vh;
    }
}