@media (max-width: 700px) {
    .headline{
        font-size: 1.5vh;
    }

    .section-subtitle{
        @apply text-xl;
    }

    .section-content {
        .icon.social{
            transition: 0.2s ease-in-out;
            width: 5vh;
            height: 5vh;

            &.instagram{
                width: 7vh;
                height: 7vh;
                margin-left: -1vh;
            }
        }
    }

    .scroll-animation{
        bottom: 6vh;
    }
}

@media (max-width: 500px) {
    .section-title{
        @apply gap-x-2;
    }
}

@media (max-width: 400px) {
    .section-content {
        font-size: 1.75vh;
    }
}



@media (max-width: 350px) {
}