

@media (max-width: 700px) {
    .headline{
        font-size: 1.5vh;
    }

    .section-content{
        font-size: 1.75vh;
        
        .grid-content{

            .grid-item{
                padding: 3vh;
            }
        }
    }
}