
@media (max-width: 700px) {
    .parallelogram {
        width: 4.5vh;
        height: 4.5vh;
        margin-top: 20vh;
    }
    
    .circle {
        width: 4.5vh;
        height: 4.5vh;
        margin-top: 20vh;
    }
    
    .object-line {
        width: 6.5vh;
        height: 0.6vh;
        margin-top: 20vh;
    }
    
    .object-line-2 {
        width: 6.5vh;
        height: 0.6vh;
        margin-top: 20vh;
    }
}