.parallelogram {
    width: 7vh;
    opacity: 0.6;
    height: 7vh;
    transform: skew(20deg);
    background: var(--primary);
}

.circle {
    opacity: 0.6;
    width: 7vh;
    height: 7vh;
    background: var(--primary);
    border-radius: 50%;
}

.line {
    opacity: 0.6;
    width: 10vh;
    height: 0.6vh;
    background: var(--primary);
    transform: rotate(140deg);
}

.line-2 {
    opacity: 0.6;
    width: 10vh;
    height: 0.6vh;
    background: var(--primary);
    transform: rotate(80deg);
}