.parallelogram {
    opacity: 0.6;
    width: 7vh;
    height: 7vh;
    transform: skew(20deg);
    background: var(--primary);
}

.circle {
    opacity: 0.6;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: var(--primary);
}

.line {
    opacity: 0.6;
    width: 10vh;
    height: 0.6vh;
    transform: rotate(140deg);
    background: var(--primary);
}

.line-2 {
    opacity: 0.6;
    width: 10vh;
    height: 0.6vh;
    transform: rotate(80deg);
    background: var(--primary);
}

@import '../mobile/shape-objects-mobile.scss';
