.button-cta-container{
    @apply flex;

    &.left {
        @apply justify-start;
    }

    &.center{
        @apply justify-center;
    }

    &.right {
        @apply justify-end;
    }

    .button-cta{
        @apply flex flex-row items-center gap-x-1;
        @apply bg-secondary rounded-md text-black font-bold md:text-lg;
        transition: 0.2s ease-in-out;
        padding: 2vh 3vh;

        &:hover{
            @apply bg-white;
            filter: drop-shadow(0px 0px 5px var(--white));
            -webkit-filter: drop-shadow(0px 0px 5px var(--white));
        }


    }
}

@import './mobile/button-mobile.scss';