.page-wrapper{
}

.page-container{
    @apply h-full w-full;

    .header-img {
        border-bottom: 1.5px solid var(--secondary);
        filter: drop-shadow(0px 0px 1px var(--secondary));
        -webkit-filter: drop-shadow(0px 0px 1px var(--secondary));
        height: 35vh;
    }
}

.scroll-to-top{
    position: fixed; /* Fixed/sticky position */
    bottom: 2vw; /* Place the button at the bottom of the page */
    left: 1.5vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: var(--secondary); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 100%; /* Rounded corners */

    &:hover{
        color: var(--white);
    }
}

@import './mobile/container-mobile.scss';