.cursor-follower {
    @apply fixed w-5 h-5 border-secondary border-2 rounded-full pointer-events-none;
    box-shadow: 0px 0px 7px -2px var(--shadow-color);
    transform: translate(-50%, -50%);
    transition: top 0.2s ease-out, left 0.2s ease-out; // Smooth movement
}