.section-wrapper{
    @apply items-center justify-center flex flex-col h-screen w-full sm:px-4 md:px-10 lg:px-36 xl:px-52;

    &.withBackground{
        @apply bg-secondary justify-start;
        padding-top: 6vh;
        padding-bottom: 6vh;
        
        p{
            @apply text-black;
        }
    }
}

.section-container{
    @apply w-full;

    &.left {
        @apply flex justify-start;
    }

    &.centered{
        @apply flex flex-col items-center
    }

    &.right {
        @apply flex justify-end;
    }
}

.salutation{
    @apply text-2xl md:text-4xl text-center;
    font-family: Montserrat-Bold;
    margin-top: 2vh;
}

.headline{
    @apply text-center text-lg md:text-xl uppercase;
    margin-top: 1.5vh;
}

.section-title{
    @apply text-2xl md:text-3xl font-bold flex items-baseline gap-x-1;
    margin-bottom: 1vh;
}

.section-subtitle{
    @apply font-bold text-lg md:text-xl md:w-9/12;
    line-height: 1.5;
}

.section-content{
    @apply w-full text-lg;
    margin-top: 3vh;
    margin-bottom: 3vh;

    p{
        @apply mb-3;
        line-height: 1.5;
    }

    .grid-content{
        @apply w-full grid grid-cols-1 2md:grid-cols-3;
        gap: 4vh;

        .grid-item{
            @apply rounded relative bg-black;
            padding: 4vh;
            filter: drop-shadow(0 0 0.25vh var(--secondary));
            -webkit-filter: drop-shadow(0 0 0.25vh var(--secondary));
            transition: 0.4s ease-in-out;

            .grid-title{
                @apply text-white font-bold text-xl;
                @apply w-9/12 md:w-full 2md:w-9/12;
                z-index: 2;
            }
            
            .grid-description{
                @apply text-white text-lg;
                margin-top: 4vh;
                padding-top: 1vh;
                font-size: 2vh;
            }

            .grid-line{
                @apply mr-1 absolute;
                top: -1vh;
                width: 7.5vh;
                height: 0.5vh;
            }

            &:hover{
                background-color: var(--white);
                filter: drop-shadow(0px 0px 5px var(--white));
                -webkit-filter: drop-shadow(0px 0px 5px var(--white));

                .grid-title, .grid-description{
                    @apply text-black;
                }
            }
        }
    }
}

@import './mobile/section-mobile.scss';