.page-container{
    .overview-shape{
        position: absolute;
        top: 32vh;
        background-color: var(--white);
        width: 65%;
        height: 20%;
        transform: skew(0deg, -25deg);
        animation: shapeWidth 2s ease-in-out;
    }

    .overview-shape-shadow{
        position: absolute;
        top: 31vh;
        margin-right: 2vh;
        background-color: var(--black);
        width: 65%;
        height: 20%;
        transform: skew(0deg, -25deg);
        animation: shapeWidth 2s ease-in-out;
    }

    .header-img {
        position: relative;
        position: absolute;
        bottom: -9.7vh;
        animation: profileAnimation 2s ease-in-out;

        @media (max-width: 700px) {
            bottom: -13.7vw;
            animation: profileAnimationMobile 2s ease-in-out;
        }

        @media (max-width: 320px) {
            bottom: -14.7vw;
            animation: profileAnimationMobileSM 2s ease-in-out;
        }
    }

    .salutation-name {
        position: relative;
        animation: rightToLeft 2s ease-in-out;
    }

    .salutation-semicolon {
        position: relative;
        animation: leftToRightMiddle 2s ease-in-out;
    }

    .headline {
        position: relative;
        animation: topToBottomMiddle 2s ease-in-out;
    }
}

@import './keyframes.scss';