@keyframes scaleIn {
    from {
        transform-origin: bottom left;
        transform: scale(0);
        opacity: 0;
    }
  
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rightToLeft {
    from {
        right: -4vh;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

@keyframes leftToRight {
    from {
        left: -4vh;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes bottomToTop {
    from {
        bottom: -4vh;
        opacity: 0;
    }
  
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes topToBottom {
    from {
        top: -4vh;
        opacity: 0;
    }
  
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes topToBottomMiddle {
    from {
        top: -4vh;
        opacity: 0;
    }
  
    85% {
        top: -4vh;
        opacity: 0;
    }
  
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes bottomToTopMiddle {
    from {
        bottom: -4vh;
        opacity: 0;
    }
  
    85% {
        bottom: -4vh;
        opacity: 0;
    }
  
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes leftToRightMiddle {
    from {
        left: -2vh;
        opacity: 0;
    }
  
    65% {
        left: -2vh;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes shapeWidth {
    from {
        transform: skew(0deg, 25deg);
        width: 0%;
    }
  
    50% {
        transform: skew(0deg, 25deg);
        width: 0%;
    }

    to {
        width: 65%;
        transform: skew(0deg, -25deg);
    }
}

@keyframes profileAnimation {
    from {
        bottom: -2vh;
        opacity: 0;
    }
  
    to {
        bottom: -9.7vh;
        opacity: 1;
    }
}


@keyframes profileAnimationMobile {
    from {
        bottom: -2vw;
        opacity: 0;
    }
  
    to {
        bottom: -13.7vw;
        opacity: 1;
    }
}


@keyframes profileAnimationMobileSM {
    from {
        bottom: -2vw;
        opacity: 0;
    }
  
    to {
        bottom: -14.7vw;
        opacity: 1;
    }
}
